<section class="container">
  <header>
    <img
      src="../../../assets/img/protagonista/protagonista.jpg"
      alt="Gabriela"
      class="protagonista"
    />
    <img
      src="../../../assets/img/principal/marco.png"
      alt="marco principal"
      class="marco"
    />
  </header>

  <main>
    <h2 #titulo>
      <span>Emily Gabriela</span>
      <br />
      Nuestra Hermosa <br />
      <strong>Hadita</strong>
    </h2>
    <img
      src="../../../assets/img/principal/principal1.png"
      alt=""
      class="principal"
    />

    <section class="datosInfo">
      <img
        src="../../../assets/img/personaje4/personaje4-2.png"
        alt="personaje4-2"
        class="personaje4-2"
      />
      <address>
        <p>Acompañanos a Celebrar en:</p>
        <strong>Fonaviencali</strong>
        <span>Cra. 1a6 # 71 - </span>
        <strong>17 Ago</strong>
        <strong>4:30pm</strong>
      </address>
    </section>
  </main>

  <app-footer></app-footer>
</section>
